{% extends 'gogleboks/base.html' %}
{% load mathfilters %}
{% load humanize %}

{% block content %}

  <div class="col-md-10" valign=top>
      <div class="book">
        <h3>{{ book.volumeInfo.title }}</h3>
        {% if 'subtitle' in book.volumeInfo %} {{ book.volumeInfo.subtitle }} {% endif %}<br>
        {% if 'authors' in book.volumeInfo %}
          {% for author in book.volumeInfo.authors %}
            {{ author }}{% if author != book.volumeInfo.authors|last %}, {% endif %}
          {% endfor %}
        {% endif %}
        <br>
        <div>{{ book.volumeInfo.publishedDate }} {{ book.volumeInfo.publisher }}</div>
        <br>
        <div style="clear: left;">
          <div style="float: left; padding:10px;"><img src='{{ book.volumeInfo.imageLinks.smallThumbnail }}'></div>
          <div style="font-size:10pt; padding:10px;">{{ book.volumeInfo.description|slice:"0:500" }}
            {% if  book.volumeInfo.description|length > 500 %} ... {% endif %}
          </div>
        </div>
      </div>
      <script type="text/javascript">
        document.getElementsByTagName('head')[0].innerHTML +=
          '<meta property="fb:app_id" content="1707315739549232" />';
        document.getElementsByTagName('head')[0].innerHTML +=
          '<meta property="og:type" content="article" />';
        document.getElementsByTagName('head')[0].innerHTML +=
          '<meta property="og:title" content="{{ book.volumeInfo.title }}" />';
        document.getElementsByTagName('head')[0].innerHTML +=
          '<meta property="og:url" content="{{ request.build_absolute_uri }}" />';
        document.getElementsByTagName('head')[0].innerHTML +=
          '<meta property="og:description" content="{{ book.volumeInfo.description|slice:'0:500' }}" />';
        document.getElementsByTagName('head')[0].innerHTML +=
          '<meta property="og:image" content="{{ book.volumeInfo.imageLinks.smallThumbnail }}" />';
        document.getElementsByTagName('head')[0].innerHTML +=
          '<meta property="og:image:width" content="56" />';
      </script>
      <div>
        {% if 'averageRating' in book.volumeInfo %}
          <div class="author"><script type="text/javascript">rate({{book.volumeInfo.averageRating|div:5|mul:100}});</script>
            ({{ book.volumeInfo.ratingsCount }})</div>
        {% endif %}
        <span style="color:darkgray"><strike>{{book.saleInfo.listPrice.amount|floatformat|intcomma}}</strike></span>
        {{book.saleInfo.retailPrice.amount|floatformat|intcomma}}
        {{book.saleInfo.listPrice.currencyCode}}
        {% if book.accessInfo.accessViewStatus != 'NONE' %}
          <a href="{% url 'book_viewer' bid=book.id %}" class="btn btn-default btn-xs">{{book.accessInfo.accessViewStatus}}</a>
        {% endif %}
        <div class="fb-like"
          data-show-faces="true"
          data-share="true">
        </div>
        <br>
          <a href="http://www.bandinlunis.com/search/search.do?q={{book.volumeInfo.industryIdentifiers.1.identifier}}" target="_blank">반디앤루니스</a>
        | <a href="http://bsearch.interpark.com/dsearch/book.jsp?query={{book.volumeInfo.industryIdentifiers.1.identifier}}" target="_blank">인터파크</a>
        | <a href="http://www.kyobobook.co.kr/product/detailViewKor.laf?barcode={{book.volumeInfo.industryIdentifiers.1.identifier}}" target="_blank">교보문고</a>
        | <a href="http://aladin.co.kr/shop/wproduct.aspx?isbn={{book.volumeInfo.industryIdentifiers.1.identifier}}" target="_blank">알라딘</a>
        | <a href="http://www.yes24.com/SearchCorner/Search?mstr_query=&query={{book.volumeInfo.industryIdentifiers.1.identifier}}" target="_blank">Yes24</a>
        <br>
        <a href="{{book.volumeInfo.infoLink}}" target="_blank">Google Books</a>
        | <a href="http://www.amazon.com/gp/search?index=books&linkCode=qs&keywords={{book.volumeInfo.industryIdentifiers.1.identifier}}" target="_blank">Amazon</a>
      </div>

      <div style="clear: left;">
        <hr>
        {% if user.is_authenticated %}
          <a href="{% url 'review_new' bid=book.id %}" class="btn btn-primary btn-sm">Add review</a>
          {% if reviews.count == 0 %}
            <div class="review">첫 번째 리뷰를 남겨 주시겠음?</div>
          {% endif %}
        {% endif %}
      </div>

      {% for review in reviews %}
        <div class="review">
          {{  review.comment|slice:"0:100" }}
          {% if review.comment|length > 100 %} ...<a href="{% url 'review_detail' pk=review.pk %}">more</a> {% endif %}

          <div class="date">
            {% for i  in '12345' %}
              {% if forloop.counter <= review.score %} &#9733;
              {% else %} &#9734;
              {% endif %}
            {% endfor %}
            / {{ review.reviewer }}, {{ review.created_date }}
            {% if user == review.reviewer %}
              <a href="{% url 'review_edit' pk=review.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
              <a href="{% url 'review_delete' pk=review.pk %}" onclick="return confirm('Are you sure?\n정말 삭제하시겠습니까?')"><span class="glyphicon glyphicon-trash"></span></a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
</div>

<div class="col-md-2">
  <div class="panel panel-default">
    <div class="panel-heading">이런 책은 어떠심?</div>
    <div class="panel-body">
      {% if morebooks.totalItems <= 1 %}
        읍써!
      {% endif %}
      {% for mbook in morebooks.items %}
        {% if mbook.id != book.id %}
          <div style="float:left;">
            <div style="padding:10px;"><img src='{{ mbook.volumeInfo.imageLinks.smallThumbnail }}' width=56>
            </div>
            <div style="font-size:10pt">
              <a href="{% url 'book_detail' bid=mbook.id %}">{{ mbook.volumeInfo.title }}</a>
              {# }{% if 'subtitle' in mbook.volumeInfo %} {{ mbook.volumeInfo.subtitle }} {% endif %} #}
              <br>
              <div class="author">
                {% for author in mbook.volumeInfo.authors %}
                  {{ author }}{% if author != mbook.volumeInfo.authors|last %}, {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
