{% extends 'gogleboks/base.html' %}

{% block content %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("books", "0");

      function initialize() {
        var viewer = new google.books.DefaultViewer(document.getElementById('viewerCanvas'));
        //viewer.load('ISBN:0738531367');
        viewer.load('{{bid}}');
      }

      google.setOnLoadCallback(initialize);
    </script>

    <div id="viewerCanvas" style="width: auto; height: 600px"></div>
{% endblock content %}
